* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 30px;
    padding: 2vh;
}

section {
    height: 100vh;
    background-color: #a2d2ff;
    font-family: sans-serif;
}

.score {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

h3.winner {
    font-size: 25px;
    height: 5vh;
}

.play-game {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.play-game button,
.options button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    font-size: 20px;
    background-color: rgb(19, 181, 102);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.match {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}